<style>
    .square {
        height: 100px;
        width: 100px;
        background-color: white;
        border: thick double #f39c12;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .square_bump {
        height: 100px;
        width: 100px;
        background-image: url("https://i.ibb.co/PGYX9Vq/image-12.png");
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 100px;
    }
    .square_move_back_3_cases {
        height: 100px;
        width: 100px;
        background-image: url("https://i.ibb.co/51Bhvxy/image-14.png");
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 100px;
    }
    .square_two_times {
        height: 100px;
        width: 100px;
        background-image: url("https://i.ibb.co/Ryt0LZk/image-13.png");
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 100px;
    }
    .square_hole {
        height: 100px;
        width: 100px;
        background-image: url("https://i.ibb.co/RPLtjqX/image-11.png");
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 100px;
    }

    .square_hole {
        height: 100px;
        width: 100px;
        background-image: url("https://i.ibb.co/RPLtjqX/image-11.png");
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 50px;
    }

    .red_player {
        height: 20px;
        width: 20px;
        background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngitem.com%2Fso%2Fred-dot%2F&psig=AOvVaw3k7lxE3e-rarDSFlsr9GFe&ust=1622987215660000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjZodbQgPECFQAAAAAdAAAAABAO");
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 20px;
    }

    .number_position {
        flex-direction: column;
        align-self: flex-start;
    }
    .logo_for_special_cases {
        flex-direction: column;
        align-self: flex-end
    }

</style>


<div class="<%= display_icon(space.space_skill_id) %>">
  <div class="number_position">
    <%= space.position %>
  </div>
  <% unless @positions.empty? %>
    <% @positions.each do |position| %>
    <div class="">
      <% if position.space == space %>
        <%#= display_oie(@positions.first.player.color) %>
        <%= position.player.color %>
      <% end %>
    </div>
    <% end %>
  <% end  %>
</div>
